{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise: Evolução das Avaliações</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h3>Evolução do Número de Avaliações por Ano</h3>
            </div>
            <div class="card-body">
                
                {% if grafico %}
                    <img src="data:image/png;base64,{{ grafico }}" class="img-fluid" alt="Gráfico da evolução de avaliações por ano">
                {% else %}
                    <div class="alert alert-warning" role="alert">
                      O gráfico não pôde ser gerado.
                    </div>
                {% endif %}
            </div>
</body>
</html>